<div class="card mine">
  <div class="card-body">
    <h4 class="card-title">{{ list.profile_heading }}</h4>
    <p class="card-text">{{ list.profile_description }}.</p>
  </div>
  <div class="pop"></div>
  <div class="buttons">
    <button class="btn btn-primary" (click)="onView()">View</button>
    <button class="btn btn-primary" (click)="onShare()">Share</button>
    <!-- <button class="btn btn-primary" [routerLink]="/View" >
      View
    </button>
    <button class="btn btn-primary" [routerLink]="/Share" >
      Share
    </button> -->
  </div>
</div>
