div.login,
div.other,
div.icon {
  display: flex;
  justify-content: space-evenly;
}

div.icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid grey 3px;
}
div :not(div.icon) {
  width: 300px;
}
form {
  width: 300px;
  border: solid grey 1px;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
}

div.other,
div.icon {
  padding: 20px;
}
form button.login {
  width: 60%;
}
